* {
    margin: 0;
    padding: 0;
}

html body {
    height: 100%;
    background: #f8f9fb;
}

a {
    cursor: pointer;
}

html body {
    height: 100%;
    background: #f8f9fb;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    padding: 0;
    /*width: 1200px;*/
}

.public {
    padding: 0;
    width: 78%;
    background: #fff;
    float: right;
    padding: 20px;
    overflow: auto;
}

.head {
    width: 100%;
    height: auto;
    background: #1f2d3d;
}

.nav-tabs {
    border: none;
}

.nav-tabs li {
    color: #fff;
}

.process {
    /*padding-top: 25px;*/
    padding-left: 75px;
    margin: 0px 0 30px 0;
}

.head {
    width: 100%;
    height: auto;
    background: #1f2d3d;
}

.nav-tabs {
    border: none;
}

.nav-tabs li {
    color: #fff;
}

.process {
    /*padding-top: 25px;*/
    padding-left: 75px;
    margin: 0px 0 30px 0;
}

.process li,
.process1 li,
.process2 li,
.process3 li {
    /*float: left;*/
    display: inline-block;
    text-align: center;
}

.process li em {
    display: block;
    width: 70px;
    height: 70px;
    padding: 0 0 0 5px;
}

.pro_img li img {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

table tr td {
    font-size: 14px;
}

.process li i,
.process1 li i,
.process2 li i,
.process3 li i {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 30%;
}

.line {
    text-align: center;
    /*margin-bottom: 10px;*/
}

.line em {
    display: inline-block;
    height: 80px;
    border: 1px solid #ccc;
}

.line span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ccc;
    margin: -3px auto;
}

.line em:nth-child(3) {
    position: relative;
    top: -20px;
}

.line em:nth-child(2) {
    height: 100px;
    transform-origin: top;
    -webkit-transform: rotateZ(38deg);
    -moz-transform: rotateZ(38deg);
    -o-transform: rotateZ(38deg);
    -ms-transform: rotateZ(38deg);
    transform: rotateZ(38deg);
}

.line em:nth-child(4) {
    height: 100px;
    transform-origin: top;
    -webkit-transform: rotateZ(-38deg);
    -moz-transform: rotateZ(-38deg);
    -o-transform: rotateZ(-38deg);
    -ms-transform: rotateZ(-38deg);
    transform: rotateZ(-38deg);
}

.process3 {
    text-align: center;
}

.process3 li {
    margin: 0 10px;
}

.process3 li i {
    border-radius: 50%;
}

.a2017_04 {
    /*clear: both;*/
    height: 340px;
    /*margin-right:30px;*/
    padding: 0;
    background: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
}

.a2017_04_head {
    padding: 10px 15px;
    background: rgba(32, 160, 255, 0.66);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    margin-bottom: 18px;
    text-align: center;
}

.process1 {
    padding-left: 40px;
}

.process li i {
    margin-bottom: 7px;
}

.process2 li i,
.process3 li i {
    margin: 0 7px 7px 7px;
}

.process1 li:nth-child(2) {
    margin: 17px 0 5px 19px;
}

.process1 li:nth-child(3) {
    margin: 14px 0 5px 37px;
}

.process1 li .num,
.process1 li .rez {
    float: left;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width: 65px;
    background: rgba(1, 152, 68, 0.85);
    margin: -4px;
    -webkit-transform: rotateX(-33.5deg) rotateY(55deg);
    transform: rotateX(-20.5deg) rotateY(53deg);
    box-shadow: 10px 7px 23px -1px #888888;
}

.process1 li .rez {
    height: 52px;
    width: 30px;
    background: rgb(1, 152, 68);
    margin: -9px 0 0 -15px;
    -webkit-transform: rotateX(33.5deg) rotateY(55deg);
    transform: rotateX(30.5deg) rotateY(52deg);
}

.process1 li div {
    width: 250px;
    height: 80px;
    padding: 5px 0;
    background: rgba(1, 152, 68, 0.85);
    margin-left: 66px;
}

.process1 li .num b {
    font-size: 30px;
    color: #fff;
}

.process1 li i {
    float: right;
}

.process1 li span {
    color: #fff;
    text-align: left;
    display: inline-block;
    width: 125px;
    padding-bottom: 2px;
    padding-left: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.41);
}

.process1 li .process1_bg2 {
    background: rgba(32, 160, 255, 0.8);
}

.process1 li .num_bg1 {
    background: rgba(32, 160, 255, 0.8);
}

.process1 li .rez_bg1 {
    background: rgb(32, 160, 255);
}

.process1 li .process1_bg3 {
    background: rgba(255, 51, 0, 0.66);
}

.process1 li .num_bg2 {
    background: rgba(255, 51, 0, 0.66);
}

.process1 li .rez_bg2 {
    background: rgba(255, 51, 0, 0.8);
}


/*测试结束*/

.Supervision {
    margin-top: 35px;
}

.Diagram {
    text-align: center;
    margin: 60px 0 30px 0;
}

.mar {
    margin-bottom: 15px;
}

.mar a {
    color: #fff;
}

.Discharge {
    padding: 6px 6px;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mar-top {
    margin-top: 24%;
}


/*#enterprise h4 {
  margin-top: 30px;
}*/

.License {
    border: 1px solid #ccc;
    height: auto;
    padding: 5px 15px;
}

.Btn-a span {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.License li,
.License li img {
    width: 100%
}

#Environmental td,
#newAdd td,
#prison td,
#prison th {
    vertical-align: middle;
}


/*!*多级下拉菜单开始*!

.list {
  !*width: 210px;*!
  margin: 40px auto 0 auto;
}

.list ul li {
  background-color: #d9edf7;
  border: solid 1px #d9edf7;
  border-bottom: 0;
  border-radius: 5px;
  margin: 5px 0;
}

.list ul li a {
  padding-left: 10px;
  font-size: 12px;
  display: block;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  position: relative;
}

.list ul li .inactive {
  background: url(/images/off.png) no-repeat 92% center;
}

.list ul li .inactives {
  background: url(/images/on.png) no-repeat 92% center;
}

.list ul li ul {
  display: none;
}

.list ul li ul li {
  border-left: 0;
  border-right: 0;
  background-color: #f2dede;
  border-color: #f2dede;
}

.list ul li ul li ul {
  display: none;
}

.list ul li ul li a {
  padding-left: 20px;
}

.list ul li ul li ul li {
  background-color: #fcf8e3;
  border-color: #fcf8e3;
}

.last {
  background-color: #d6e6f1;
  border-color: #6196bb;
}

.list ul li ul li ul li a {
  color: #316a91;
  padding-left: 30px;
}

#enterprise {
  padding: 0px;
}

.minh {
  min-height: 850px;
}
!*多级下拉菜单结束*!*/


/*企业列表开始*/

.enterprise_list li {
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
}

.enterprise_list li:hover {
    color: #1d90e6;
}


/*企业列表结束*/


/*顶部导航条开始*/

.header {
    padding: 0;
}

.headercon {
    height: 64px;
    line-height: 64px;
    background: #73a82b;
}

.headercon ul,
.headercon ul li {
    float: left;
}

.headercon ul li {
    margin-right: 25px;
}

.headercon .mechanismName li a {
    font-size: 20px;
    color: #fff;
    margin-left: 20px;
}

.headercon .mechanismName li span {
    color: #fff;
}

.headercon .mechanismUser {
    float: right;
    color: #fff;
}

.headercon .mechanismUser span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("./icon.png") no-repeat;
    vertical-align: middle;
}

.headercon .mechanismUser .homeNews {
    background-position-x: -182px;
    background-position-y: -92px;
}

.headercon .mechanismUser .homeNotice {
    background-position-x: -182px;
    background-position-y: -49px;
}

.headercon .mechanismUser .homeCore {
    background: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    margin-left: 2px;
}

.headercon .mechanismUser div {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    border-radius: 50%;
    border: 1px solid #ccc;
}


/*企业列表开始*/

.el-breadcrumb {
    clear: both;
}


/*顶部导航条结束*/


/*home页开始*/

.homeChoice {
    padding-top: 15px;
    background: #fff;
    border: 1px solid #e3e8ee;
}

.bs-example {
    clear: both;
    padding-top: 20px;
}

.bs-example .table-striped thead {
    background: rgba(151, 168, 190, 0.3);
    /*border: 1px solid rgba(151, 168, 190, 0.3);*/
    /*border-bottom: none;*/
}

.bs-example .table-striped tbody tr td {
    border-top: none;
    border-bottom: 1px solid #ddd;
}


/*.bs-example .table-striped tbody tr{*/


/*border-left: 1px solid #ddd;*/


/*border-right: 1px solid #ddd;*/


/*}*/

.bs-example .table-striped tbody tr {
    background: #fff;
}

.homeRegion .homeRegion_D {
    float: left;
    margin-right: 10px;
    font-size: 16px;
    line-height: 34px;
}

.homeCheckbox label {
    padding: 0 15px 0 0;
}


/*home页结束*/


/*左侧导航开始*/

.el-col .el-menu {
    background: #fff;
}

.el-menu-vertical-demo .el-submenu .el-menu {
    background: #fff;
}

.el-menu-vertical-demo {
    background: #fff;
}

.el-tabs__nav-scroll {
    overflow: hidden;
    width: 100%;
}

.el-tabs__nav {
    width: 100%;
    background: #73a82b;
}

.el-tabs__nav .el-tabs__item {
    text-align: center;
    color: #fff;
    font-size: 16px;
}

#slideLeft .el-tabs__nav .el-tabs__item {
    width: 50%;
}

.el-tabs__nav .el-tabs__item:hover {
    color: #fff;
}

.el-menu .el-menu-item,
.el-menu .el-submenu__title {
    font-size: 15px;
}

.minh {
    padding: 0;
    width: 20%;
}

.el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .is-active {
    border: 1px solid green;
    border-radius: 0;
    background: green;
    color: #fff;
}

.el-menu-vertical-demo li div span,
.el-menu-vertical-demo li span {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    background: url("./icon.png") no-repeat;
}

.el-menu-vertical-demo li div .Monitor {
    background-position: 0px -49px;
}

.el-menu-vertical-demo li div .PollutionBasis {
    background-position: 0px -99px;
}

.el-menu-vertical-demo li div .solidWaste {
    background-position: 0px -148px;
}

.el-menu-vertical-demo li div .nuclearRadiation {
    background-position: 0px -197px;
}

.el-menu-vertical-demo li .environment {
    background-position: -57px 0px;
}

.el-menu-vertical-demo li .emergency {
    background-position: -57px -49px;
}

.el-menu-vertical-demo li .thePetition {
    background-position: -57px -98px;
}

.el-menu-vertical-demo li .Administration {
    background-position: -57px -147px;
}

.el-menu-vertical-demo li .charge {
    background-position: -57px -196px;
}

.el-menu-vertical-demo li .scene {
    background-position: -116px 1px;
}

.el-menu-vertical-demo li .Statistics {
    background-position: -116px -49px;
}

.el-menu-vertical-demo li .batch {
    background-position: -116px -97px;
}

.el-menu-vertical-demo li .Jurisdiction {
    background-position: -116px -143px;
}


/*左侧导航结束*/


/*面包屑导航开始*/

.header .Crumbs {
    height: 45px;
    line-height: 45px;
    padding-left: 237px;
}

.header .Crumbs em {
    float: left;
    width: 25px;
    height: 25px;
    background: url("./icon.png") no-repeat -179px 1px;
    margin-top: 10px;
}

.header .Crumbs span {
    font-size: 16px;
}


/*面包屑导航结束*/


/*排口信息的切换开始*/

#Tab1758 .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item {
    padding: 0;
    width: 180px;
    text-align: center;
    color: #fff;
}

#Tab1758 .el-tabs__header .el-tabs__nav-wrap {
    padding: 0;
}

#Tab1758 .el-tabs__header .el-tabs__nav-wrap span {
    display: none;
}


/*排口信息的切换结束*/


/*排放情况切换开始*/

#Tab_EmissionSituation .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item {
    width: 225px;
}


/*排放情况切换开始*/

.enterprise_list li {
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
}

.enterprise_list li:hover {
    color: #1d90e6;
}


/*企业列表结束*/


/*顶部导航条开始*/

.header {
    padding: 0;
}

.headercon {
    height: 64px;
    line-height: 64px;
    background: #73a82b;
}

.headercon ul,
.headercon ul li {
    float: left;
}

.headercon ul li {
    margin-right: 25px;
}

.headercon .mechanismName li a {
    font-size: 20px;
    color: #fff;
    margin-left: 20px;
}

.headercon .mechanismName li span {
    color: #fff;
}

.headercon .mechanismUser {
    float: right;
    color: #fff;
}

.headercon .mechanismUser span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("./icon.png") no-repeat;
    vertical-align: middle;
}

.headercon .mechanismUser .homeNews {
    background-position-x: -182px;
    background-position-y: -92px;
}

.headercon .mechanismUser .homeNotice {
    background-position-x: -182px;
    background-position-y: -49px;
}

.headercon .mechanismUser .homeCore {
    background: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    margin-left: 2px;
}

.headercon .mechanismUser div {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.el-breadcrumb {
    clear: both;
}


/*顶部导航条结束*/


/*home页开始*/

.homeChoice {
    padding-top: 15px;
    background: #fff;
    border: 1px solid #e3e8ee;
}

.bs-example {
    clear: both;
    padding-top: 20px;
}

.bs-example .table-striped thead {
    background: rgba(151, 168, 190, 0.3);
    /*border: 1px solid rgba(151, 168, 190, 0.3);*/
    /*border-bottom: none;*/
}

.bs-example .table-striped tbody tr td {
    border-top: none;
    border-bottom: 1px solid #ddd;
}


/*.bs-example .table-striped tbody tr{*/


/*border-left: 1px solid #ddd;*/


/*border-right: 1px solid #ddd;*/


/*}*/

.bs-example .table-striped tbody tr {
    background: #fff;
}

.homeRegion .homeRegion_D {
    float: left;
    margin-right: 10px;
    font-size: 16px;
    line-height: 34px;
}

.homeCheckbox label {
    padding: 0 15px 0 0;
}


/*home页结束*/


/*左侧导航开始*/

.el-menu-vertical-demo li div span,
.el-menu-vertical-demo li span {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    background: url("./icon.png") no-repeat;
}

.el-menu-vertical-demo li div .Monitor {
    background-position: 0px -49px;
}

.el-menu-vertical-demo li div .PollutionBasis {
    background-position: 0px -99px;
}

.el-menu-vertical-demo li div .solidWaste {
    background-position: 0px -148px;
}

.el-menu-vertical-demo li div .nuclearRadiation {
    background-position: 0px -197px;
}

.el-menu-vertical-demo li .environment {
    background-position: -57px 0px;
}

.el-menu-vertical-demo li .emergency {
    background-position: -57px -49px;
}

.el-menu-vertical-demo li .thePetition {
    background-position: -57px -98px;
}

.el-menu-vertical-demo li .Administration {
    background-position: -57px -147px;
}

.el-menu-vertical-demo li .charge {
    background-position: -57px -196px;
}

.el-menu-vertical-demo li .scene {
    background-position: -116px 1px;
}

.el-menu-vertical-demo li .Statistics {
    background-position: -116px -49px;
}

.el-menu-vertical-demo li .batch {
    background-position: -116px -97px;
}

.el-menu-vertical-demo li .Jurisdiction {
    background-position: -116px -143px;
}


/*左侧导航结束*/


/*环评及验收审批的切换开始*/

#acceptanceTotal .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item {
    width: 25%!important;
}

#Environmental .el-radio__label {
    font-weight: 400;
    color: #657180;
}